body{
    background: #ff9551;
    background: -moz-linear-gradient(top,  #ff9551 0%, #ff3c30 100%);
    background: -webkit-linear-gradient(top,  #ff9551 0%,#ff3c30 100%);
    background: linear-gradient(to bottom,  #ff9551 0%,#ff3c30 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff9551', endColorstr='#ff3c30',GradientType=0 );
    height: 100vh;
    }

    h1{
    text-align:center;
    color: white;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1em;
    font-weight: 300;
    }

    svg{
    display: block;
    margin: 15% auto;
    }

    .axis text {
    font: 11px sans-serif;
    fill: white;
    }

    .axis path,
    .axis line {
    fill: none;
    stroke: white;
    shape-rendering: crispEdges;
    }

    .circle{
    fill: white;
    stroke: white;
    }

    .link{
    fill: none;
    stroke: white;
    stroke-width: 2px;
    stroke-linecap: round;
    }