html{
    height: 100%;
}
body{                                   /*全体の調整*/
    margin: 0;
    height: 100%;
}

#header-div{                            /*上側の調整*/
    background-color: greenyellow;
    height: 80px;
}

#banner-div{                              /*左側のやつ*/
    background-color: aqua;
    width: 15%;
    height: 100%;
    float: left;
}

#rite-div{                              /*右側のやつ*/
    background-color: coral;
    width: 85%;
    height: 1000px;
    margin-left: auto;
}



.banner {
    list-style:none;
    margin-bottom: 20px;
    font-size: 25px;
}


h1,form  {
    color:black;
    font-weight: 600;
    font-size: 50px;
    margin: 0;


}

form p {
    font-size: 20px;
}


form a {
    color: blue;
    font-size: 15px;
    text-decoration: none;
}

table{
    border: 1px solid #595959;
    border-collapse: collapse;
    text-align: center;
    padding: 3px;
}
td{
    border: 1px solid #595959;
    border-collapse: collapse;
    padding: 3px;
}


.ooo{
    border: 0px none;
}

.baikinman{
    text-align: center;
    color: white;
    text-decoration: none;
    font-size: 30px;

}
.anpanmen{
    background-color: #008496;
    text-align: center;
}

td, th {
	padding: 30px;
	width: 600px;
	height: 200px;
}
th {
	background: #f0e6cc;
}
.even {
	background: #fbf8f0;
}
.odd {
	background: #fefcf9;
}

.moji{
    font-size: 30px;
}
